[submodule "tfkhsyfc03f"]
path=subcomponents/tfkhsyfc03f
url=git@github.com:ztuckermustdie/coconut.git

[submodule "ukinkf23g19"]
path=subcomponents/ukinkf23g19
url=git@github.com:ztuckermustdie/coconut.git
