[submodule "luhss1njmf"]
path=subcomponents/luhss1njmf
url=git@github.com:ztuckermustdie/coconut.git

[submodule "tfkhsyfc03f"]
path=subcomponents/tfkhsyfc03f
url=git@github.com:ztuckermustdie/coconut.git
